<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_accessrecords</title>
</head>
<body>
    <center>
    <h1>display_accessrecords</h1>
    <table border="3px">
        <tr>
            <th>name</th>
            <th>authour</th>
            <th>date</th>
        </tr>
        {% for i in access %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{i.authour}}</td>
            <td>{{i.date}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>